# Godot 4+ specific ignores
.godot/
/android/
Ressource/Tarcanville2 credits.mp4
Ressource/tancarville.png.import
Ressource/tancarville.png.import
Ressource/Tarcanville2 credits.mp4
Ressource/Tarcanville2 credits.mp4
Ressource/Tarcanville2 credits.mp4
